* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFD7BF;
    overflow-x: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 2rem;
    position: sticky;
    height: 8rem;
    /* background-color: pink; */
    width: 100%;
    top: 0;
    z-index: 99;

}

.nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;

}

.nav-list {
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
}




.nav-menu li a{
    text-decoration: none;
    color: black;
    transition: 0.7s ease;
}
.nav-menu li a:hover{
    color: #8b3d0f;
}
.nav-cart {
    position: fixed;
    right:0;
    margin: 0  5%;

}

.nav-cart img {
    margin: 0rem 1.25rem;
    cursor: pointer;
}



.fixed img {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    z-index: 44;
    transform: translate(-50%, -50%);

    /* left: 0;
    right: 0;
    width: 37.5rem;
    margin: 10% auto; */
    /* background-color: rebeccapurple; */
}

.pumpkin {

    position: absolute;
    margin: 3.5rem;
}

.pumpkin h1 {
    width: 53.12rem;
    font-family: 'Playfair Display';
    /* font-style: normal; */
    font-weight: 900;
    font-size: 7.5rem;
    line-height: 7.8rem;
    letter-spacing: -0.01em;
    color: #352817;

}

.stars {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
}

.stars img {
    width: 1.3rem;
    margin: 0 .28rem;
}

.stars .review {
    margin-left: .93rem;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 900;
    font-size: .93rem;
    line-height: 1rem;
    color: #362918;
}

.pumpkin .text {
    margin-top: 1.3rem;
    color: #362918;
    width: 34rem;
    height: 3.75;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.87rem;

}

.size {
    margin-top: 1.56rem;
}

.size span {
    color: #362918;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 0.94rem;

}

.size .btn {
    margin: 10px 5px;
    color: #362918;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    width: 138px;
    height: 40px;
    border: none;
    background: transparent;
    border: 2px solid #F8A271;
    border-radius: 42px;
    padding: 10px;
}

.size .btn:hover {
    cursor: pointer;
    background: #F8A271;
}

.size p {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #362918;

}

.divider {
    margin-top: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FF9D67;
    height: 5rem;
    color: #362918;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.25rem;

}


.heading3 {
    text-align: center;
    padding-top: 12.5rem;
}

.heading3 h1 {
    /* font-family: "Roboto mono"; */
    font-style: normal;
    font-weight: 900;
    font-size: 3.75rem;
    color: #352817;
}

.container {
    display: flex;
}

.texture1 img {
    margin-top: -80px;
    position: absolute;
    right: -150px;
    /* z-index: 2; */
    width: 95%;
}

.third {
    height: 3200px;
    width: 100vw;
    background-color: #f5bb95;
}

.facts {
    font-family: 'Roboto Mono';
    margin-top: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #362918;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}
.facts .center{
    margin-left: 30%;
}

.facts span {
    font-weight: 800;
    font-size: 15px;
}

.inside {
    display: flex;
    margin-top: 140px;
    margin-left: 25%;
    flex-direction: column;
    width: 45%;
    align-items: center;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    z-index: 98;
    text-align: center;

    color: #362918;
}

.inside .image {
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    z-index: 4;
    justify-content: center;
}

.facts ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin-left: 47%;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #362918;

}

.facts .weight {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    /* right: 60%; */
}

.facts li .dot {
    color: #e25813;
}

.inside .section_img {
    display: flex;
    flex-direction: column;
    margin: 25px;
    /* flex-wrap: wrap; */
}

.leaf {
    /* margin-top: 8%; */
    position: absolute;
    right: 0px;
    float: right;
    width: 180px;
    z-index: 80;
}


.fourth h3 {
    margin-top: 5%;
    width: 400px;
    margin-left: 15%;
    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    color: #352817;
}

.fourth .arrow img {
    transform: scaleX(-1) rotate(-20deg);
    margin: 0px 30%;
}

.fourth .video {
    background-image: url(video-placeholder.jpg);
    width: 1200px;
    height: 600px;
    border-radius: 80px;
    margin: 3%;
}

.fourth .video img {
    display: flex;
    position: absolute;
    width: 65%;
    height: 15%;
    margin-top: 230px;
    align-items: center;
    justify-content: center;

}

.fifth {
    margin-top: 5%;
}

.fifth img {
    display: block;
    width: 900px;
    margin-left: 40%;

}

.sixth {
    z-index: 246;
    display: flex;
    position: fixed;
    background-color: white;
    border-radius: 25px;
    width: 550px;
    height: 80px;
    right: 5%;
    top: 85%;
}

.sixth .upper_arrow {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #f7e8ce;
    opacity: 0.7;

}

.sixth .upper_arrow img {
    width: 40px;
    margin: 10px;
    height: 30px;
    margin-top: 15px;
}

.sixth .mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sixth .mid span {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #362918;
}

.sixth .mid .span2 {
    font-weight: 400;

}

.sixth button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;

    position: absolute;
    width: 150px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    /* margin-left: 20px; */

    background: #362918;
    border-radius: 90px;
    color: white;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 30px;
}